*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1300px;
}
/********FAMILY_1********/
.family1{
    display: flex;
    border-bottom: 2px solid #C4C4C4;
}
.family1>.child1{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.family1>.child2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    padding-left: 400px;
}
.home>p{
    color: #FF922F;
    margin-top: 13px;
    padding-bottom: 10px;
    border-bottom: 3px solid #FF922F;
}
.Lessons{
    padding-left: 50px;
}
.btn1{
    border-radius: 6px;
    border: none;
    background: #407F55;
    padding: 10px 35px;
    margin: 20px 0px 20px 153px;
}
.btn2{
    border-radius: 6px;
    border: none;
    background: #FB9C46;
    padding: 10px 25px;
    margin: 20px 0px 20px 50px;
}
.btn1,.btn2>p{
    color: #FFFFFF;
}
/********FAMILY_2********/
.family2{
    display: flex;
    margin-top: 10px;
}
.family2>.child1>.best{
    display: flex;
    margin-top: 70px;  
}
.family2>.child1>.best>p{
    color: #FB9C46;
    margin-right: 25px;
    font-size: 21px;
}
.family2>.child1>.learn>.learn_frome{
    margin: 30px 0px 0px 0px;
    font-size: 27px;
}
.family2>.child1>.learn>.home{
    margin: -62px 0px 0px -70px;
    font-size: 27px;
}
.family2>.child1>.learn>.with{
    margin: 30px 0px 0px 0px;
    font-size: 27px;
}
.family2>.child1>.learn>.the_best{
    margin: -62px 0px 0px 130px;
    font-size: 27px;
    color:#FB9C46;
}
.family2>.child1>.learn>.online{
    margin: 30px 0px 0px 0px;
    font-size: 27px;
}
.family2>.child1>.learn>.Languange{
    margin: -62px 0px 0px 170px;
    font-size: 27px;
}
.family2>.child1>.learn>.tutors{
    margin: -62px 0px 0px 430px;
    font-size: 27px;
}
.family2>.child1>h6{
    margin-top: 90px;
    color: #6C6C6C;
    font-size: 19px;
}
.family2>.child1>button{
    margin-top: 50px;
    border-radius: 16px;
    background: #058E6E;
    border: none;
}
.family2>.child1>button>p{
    padding: 20px 70px;
    color: #FFFFFF;    
}
.family2>.child2{
   width: 50%;
}
.family2>.child1>.lorem>.dolor>h6{
    margin-top: 20px;
    font-size: 19px;
    color: #6C6C6C;
}
.family2>.child1>.lorem>.elit>h6{
    margin: -22px 0px 0px 335px;
    font-size: 19px;
    color: #6C6C6C;
}
.family2>.child1>.lorem>.mollis>h6{
    margin: 12px 0px 0px 0px;
    font-size: 19px;
    color: #6C6C6C;
}
.family2>.child1>.lorem>.nulla>h6{
    margin: -22px 0px 0px 200px;
    font-size: 19px;
    color: #6C6C6C;
}
.family2>.child2>.images1{
    margin: 40px 50px 0px 50px;
}
.family2>.child2>.images1>img{
    width: 100%;
}
.family2>.child2>.images2{
    margin: -710px 50px 0px 50px;
}
.family2>.child2>.images2>img{
    width: 100%;
}
.family2>.child2>.images3{
    margin: -730px 0px 0px 410px;
    width: 20%;
}
.family2>.child2>.images3>img{
    width: 100%;
}
.family2>.child2>.images4{
    margin: 240px 0px 0px 510px;
    width: 20%;
}
.family2>.child2>.images4>img{
    width: 100%;
}
.family2>.child2>.images5{
    margin: -370px 0px 0px -520px;
    width: 1050px;
}
.family2>.child2>.images5>img{
    width: 100%;
}
.family2>.child2>.images6{
    margin: -930px 0px 0px 1px;
    width: 20%;
}
.family2>.child2>.images6>img{
    width: 100%;
}
/********FAMILY_3********/
.family3{
    display: flex;
    margin-top: 300px;
}
.family3>.child1>.what>p{
    color: #FB9C46;
    font-size: 21px;
}
.family3>.child1>.what>h1{
    margin-top: 30px;
    font-size: 60px;
}
.family3>.child1>.what>.want{
    margin-top: 30px;
    display: flex;
}
.family3>.child1>.what>.want>.images1{
    margin-right: 25px;
}
.family3>.child1>.what>.want>.images2{
    margin-top: -5px;
}
.family3>.child2{
    margin-left: 50px;

}
.family3>.child2>.lorem{
    margin: 10px 0px 0px 75px;
}
.family3>.child2>.lorem>.sit>h6{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.family3>.child2>.lorem>.nec>h6{
    margin: -29px 0px 0px 280px;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.family3>.child2>.lorem>.amet>h6{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.family3>.child2>.lorem>.ante>h6{
    margin: -28px 0px 0px 300px;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.family3>.child2>.images{
    display: flex;
    margin: 15px 0px 0px 75px;
}
.family3>.child2>.images>.images1{
    margin: -76px 0px 0px -75px;
    width: 270px;
}
.family3>.child2>.images>.images2{
    margin: -80px 0px 0px -195px;
    width: 280px;
}
.family3>.child2>.images>.images3{
    margin: -75px 0px 0px -208px;
    width: 280px;
}
.family3>.child2>.images>.images4{
    margin: -80px 0px 0px -200px;
    width: 285px;
}
.family3>.child2>.images>.images5{
    margin: -79px 0px 0px -207px;
    width: 285px;
}
.family3>.child2>.images>.images6{
    margin: -79px 0px 0px -210px;
    width: 285px;
}
.family3>.child2>.images>.images7{
    margin: -79px 0px 0px -210px;
    width: 285px;
}
.family3>.child2>.images>.viev{
    margin: 36px 0px 0px -110px;
}
.family3>.child2>.images>.viev>h6{
    font-size: 18px;
    font-weight: 400;
    color: #FB9C46;
}
.family3>.child2>.images>.images8{
    margin: 34px 0px 0px 15px;
    width: 25px;
}
/********FAMILY_4********/
.family4{
    display: flex;
}
.family4>.child1>.purchase>.your>h2{
    margin: 100px 0px 0px 0px;
    font-size: 48px;
    letter-spacing: 3.5%;
    line-height: 76px;
}
.family4>.child1>.purchase>.awesome>h2{
    margin: -76px 0px 0px 310px;
    font-size: 48px;
    letter-spacing: 3.5%;
    line-height: 76px;
}
.family4>.child1>.purchase>.lessons>h2{
    margin: 5px 0px 0px 0px;
    font-size: 48px;
    letter-spacing: 3.5%;
    line-height: 76px;
}
.family4>.child1>.purchase>.find>h2{
    margin: -76px 0px 0px 150px;
    font-size: 48px;
    letter-spacing: 3.5%;
    line-height: 76px;
}
.family4>.child1>.ipsum>.lorem>h6{
    margin: 20px 0px 0px 0px;
    font-size: 17px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.elit>h6{
    margin: -20px 0px 0px 300px;
    font-size: 17px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.cras>h6{
    margin: 5px 0px 0px 0px;
    font-size: 17px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.libero>h6{
    margin: -20px 0px 0px 185px;
    font-size: 17px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.accumsan>h6{
    margin: 5px 0px 0px 0px;
    font-size: 17px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.eget>h6{
    margin: -20px 0px 0px 75px;
    font-size: 17px;
    color: #6C6C6C;
}
.family4>.child1>.btn{
    display: flex;
    margin-top: 40px;
}
.family4>.child1>.btn>.btn_1{
    background: #FB9C46;
    border: none;
    border-radius: 16px;
}
.family4>.child1>.btn>.btn_1>p{
    padding: 20px 35px;
    color: #FFFFFF;
}
.family4>.child1>.btn>.btn_2{
    margin-left: 65px;
    background:#FFFFFF;
    border: 3px solid #FB9C46;
    border-radius: 16px;
}
.family4>.child1>.btn>.btn_2>p{
    padding: 20px 40px;
    color: #FB9C46;
}
.family4>.child2>.images{
    margin: -24px -100px 0px 0px;
    width: 700px;
}
.family4>.child2>.images>img{
    width: 100%;
}
/********FAMILY_5********/
.family5{
    display: flex;
}
.family5>.child1>.images1{
    margin: 200px 0px 0px 0px;
    width: 450px;  
}
.family5>.child1>.images1>img{
    width: 100%;
}
.family5>.child1>.images2{
    margin: -455px 0px 0px 0px;
    width: 450px;  
}
.family5>.child1>.images2>img{
    width: 100%;
}
.family5>.child1>.images3{
    margin: -562px 0px 0px 48px;
    width: 517px;  
}
.family5>.child1>.images3>img{
    width: 100%;
}
.family5>.child2{
    margin: 90px 0px 0px 47px;
}
.family5>.child2>.what>h2{
    font-size: 48px;
    line-height: 76px;
}
.family5>.child2>.get{
    margin: -76px 0px 0px 313px;
}
.family5>.child2>.get>h2{
    color: #058E6E;
    font-size: 48px;
    line-height: 76px;
}
.family5>.child2>.icon{
    margin: -76px 0px 0px 403px;
}
.family5>.child2>.icon>h2{
    font-size: 48px;
    line-height: 76px;
}
.family5>.child2>.ispum>.dolor>h6{
    margin-top: 20px;
    font-size: 19px;
    color: #6C6C6C;
}
.family5>.child2>.ispum>.elit>h6{
    margin: -22px 0px 0px 335px;
    font-size: 19px;
    color: #6C6C6C;
}
.family5>.child2>.ispum>.mollis>h6{
    margin: 12px 0px 0px 0px;
    font-size: 19px;
    color: #6C6C6C;
}
.family5>.child2>.ispum>.nulla>h6{
    margin: -22px 0px 0px 200px;
    font-size: 19px;
    color: #6C6C6C;
}
.family5>.child2>.images1{
    margin: -100px 0px 0px -130px;
    width: 757px;  
}
.family5>.child2>.images1>img{
    width: 100%;
}
.family5>.child2>.images2{
    margin: -215px 0px 0px 25px;
    width: 400px;  
}
.family5>.child2>.images2>img{
    width: 100%;
}
.family5>.child2>.images3{
    margin: -90px 0px 0px -130px;
    width: 757px;  
}
.family5>.child2>.images3>img{
    width: 100%;
}
.family5>.child2>.images4{
    margin: -215px 0px 0px 25px;
    width: 400px;  
}
.family5>.child2>.images4>img{
    width: 100%;
}
.family5>.child2>.images5{
    margin: -90px 0px 0px -130px;
    width: 757px;  
}
.family5>.child2>.images5>img{
    width: 100%;
}
.family5>.child2>.images6{
    margin: -215px 0px 0px 25px;
    width: 400px;  
}
.family5>.child2>.images6>img{
    width: 100%;
}
/********FAMILY_6********/
.family6{
    display: flex;
}
.family6>.child1>.works_1{
    margin-top: 150px;
}
.family6>.child1>.works_1>h2{
    font-size: 48px;
    line-height: 76px;
}
.family6>.child1>.works_2{
    margin: -77px 0px 0px 290px;
}
.family6>.child1>.works_2>h2{
    font-size: 40px;
    line-height: 76px;
    color: #FB9C46;
}
.family6>.child1>.ipsum{
    margin-top: 30px;
}
.family6>.child1>.ipsum>.dolor>h6{
    color: #6C6C6C;
    font-size: 20px; 
}
.family6>.child1>.ipsum>.elit>h6{
    margin: -23px 0px 0px 440px;
    color: #6C6C6C;
    font-size: 20px; 
}
.family6>.child1>.ipsum>.mollis>h6{
    margin: 5px 0px 0px 0px;
    color: #6C6C6C;
    font-size: 20px; 
}
.family6>.child1>.ipsum>.nulla>h6{
    margin: -23px 0px 0px 305px;
    color: #6C6C6C;
    font-size: 20px; 
}
.family6>.child1>.ipsum>.accumsan>h6{
    margin: 5px 0px 0px 0px;
    color: #6C6C6C;
    font-size: 20px; 
}
.family6>.child1>.ipsum>.eget>h6{
    margin: -23px 0px 0px 89px;
    color: #6C6C6C;
    font-size: 20px; 
}
.family6>.child1>.images1{
    margin: -330px 0px 0px -120px;
    width: 155%;  
}
.family6>.child1>.images1>img{
    width: 100%;
}
.family6>.child1>.images2{
    margin: -700px 0px 0px -120px;
    width: 155%;  
}
.family6>.child1>.images2>img{
    width: 100%;
}
.family6>.child1>.images3{
    margin: -700px 0px 0px -120px;
    width: 155%;  
}
.family6>.child1>.images3>img{
    width: 100%;
}
.family6>.child2>.images1{
    margin: 245px 60px 0px 0px;
    width: 500px;  
}
.family6>.child2>.images1>img{
    width: 100%;
}
.family6>.child2>.images2{
    margin: -245px 0px 0px 220px;
    width: 70px;  
}
.family6>.child2>.images2>img{
    width: 100%;
}
.family6>.child2>.images3{
    margin: -73px 0px 0px 222px;
    width: 70px;  
}
.family6>.child2>.images3>img{
    width: 100%;
}
.family6>.child2>.images4{
    margin: -17px 0px 0px 275px;
    width: 250px;  
}
.family6>.child2>.images4>img{
    width: 100%;
}
/********FAMILY_7********/
.family7>.d_flex{
    display: flex;
}
.family7>.d_flex>.child1>.edu{
    margin: -160px 0px 0px 0px;
}
.family7>.d_flex>.child1>.edu>.smart>h2{
    color: #FB9C46;
    font-size: 45px;
    line-height: 56px;
}
.family7>.d_flex>.child1>.edu>.about>h2{
    margin: -56px 0px 0px 290px;
    color: #FB9C46;
    font-size: 45px;
    line-height: 56px;
}
.family7>.d_flex>.child1>.edu>.mastering>h2{
    color: #FB9C46;
    font-size: 45px;
    line-height: 56px;
}
.family7>.d_flex>.child1>.edu>.skill>h2{
    margin: -56px 0px 0px 200px;
    color: #FB9C46;
    font-size: 45px;
    line-height: 56px;
}
.family7>.d_flex>.child1>.from{
    margin: 20px 0px 0px 0px;
}
.family7>.d_flex>.child1>.from>.new>h6{
    color: #90A3B4;
    font-size: 20px;
    line-height: 26px;
}
.family7>.d_flex>.child1>.from>.people>h6{
    margin: -26px 0px 0px 385px;
    color: #90A3B4;
    font-size: 20px;
    line-height: 26px;
}
.family7>.d_flex>.child1>.from>.the>h6{
    color: #90A3B4;
    font-size: 20px;
    line-height: 26px;
}
.family7>.d_flex>.child2{
    margin: -180px 0px 0px 127px;
}
.family7>.d_flex>.child2>.images1{
    margin: 0px 0px 0px -60px;
}
.family7>.d_flex>.child2>.images2{
    margin: -20px 0px 0px 0px;
}
.family7>.d_flex>.child2>.can>.for>h6{
    margin: 15px 0px 0px 0px;
    font-size: 16px;
    color: #90A3B4;
}
.family7>.d_flex>.child2>.can>.you>h6{
    margin: -18px 0px 0px 305px;
    font-size: 16px;
    color: #90A3B4;
}
.family7>.d_flex>.child2>.can>.itis>h6{
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    color: #90A3B4;
}
.family7>.d_flex>.child2>.can>.us>h6{
    margin: -18px 0px 0px 150px;
    font-size: 16px;
    color: #90A3B4;
}
.family7>.d_flex>.child2>.can>.with>h6{
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    color: #90A3B4;
}
.family7>.d_flex>.child2>.can>.our>h6{
    margin: -18px 0px 0px 35px;
    font-size: 16px;
    color: #90A3B4;
}
.family7>.d_flex>.child2>.img_text{
    display: flex;
}
.family7>.d_flex>.child2>.img_text>.images3{
    margin: 20px 0px 0px 0px;
}
.family7>.d_flex>.child2>.img_text>.hart1>h4{
    margin: 23px 0px 0px 20px;
    color: #FB9C46;
    font-size: 20px;
}
.family7>.d_flex>.child2>.img_text>.hart1>h6{
    margin: 5px 0px 0px 20px;
    font-size: 15px;
    color:#90A3B4;
}
.family7>.d_flex>.child2>.img_text>.images4{
    margin: -30px 0px 0px 0px;
}
.family7>.d_flex>.child2>.img_radius{
    display: flex;
}
.family7>.d_flex>.child2>.img_radius>.images6{
    margin-left: 10px;
}
.family7>.d_flex>.child2>.img_radius>.images7{
    margin-left: 10px;
}
.family7>.d_flex>.child2>.img_radius>.images8{
    margin-left: 10px;
}
.family7>.d_flex>.child2>.img_radius>.images9{
    margin-left: 10px;
}
.family7>.images10{
    margin-top: 150px;
}
/********FAMILY_8********/
.family8_container{
   max-width: 1400px;
}
.family9{
    background: #F2BF62;
    margin: 150px 1px 0px 1px;
    display: flex;
}
.family9>.child1{
    margin: 100px 0px 0px 150px;
}
.family9>.child1>h5{
    color: #FFFFFF;
    font-size: 25px;
    margin: 0px 0px 0px 5px;
}
.family9>.child1>h6{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    margin: 35px 0px 0px 5px;
}
.family9>.child1>.icons{
    display: flex;
    margin: 35px 0px 0px 0px;
}
.family9>.child2>h5{
    color: #FFFFFF;
    font-size: 25px;
    margin: 100px 0px 0px 120px;
}
.family9>.child2>h6{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    margin: 35px 0px 0px 120px;
}
.family9>.child3>h5{
    color: #FFFFFF;
    font-size: 25px;
    margin: 100px 0px 0px 115px;
}
.family9>.child3>h6{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    margin: 35px 0px 0px 115px;
}
.family9>.child4>h5{
    color: #FFFFFF;
    font-size: 25px;
    margin: 100px 0px 0px 115px;
}
.family9>.child4>h6{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    margin: 35px 0px 0px 115px;
}
.family9>.child4>.the_end>h5{
    color: #FFFFFF;
    font-size: 25px;
    margin: 250px 0px 100px -260px;
}
.family1>img{
    display: none;
}
.family8_container>.family8{
    display: none;
}
.family8_container>.family10{
    display: none;
}
/********RESPONSIVE********/
@media (max-width:576px){
    body{
        overflow-x: hidden;
    }
/********FAMILY_1********/
.family1>.child2{
        display: none;
}
    .family1{
    display: flex;
    justify-content: space-between;
    }
    .family1>img{
        display: block;
    }
    /********RESPONSIVE********/
    /********FAMILY_2********/
    .family2>.child1>.best{
        margin-top: 20px;  
    }
    .family2>.child1>.best>p{
        font-size: 10px;
    }
    .family2>.child1>.learn>h1{
        font-size: 28px;
    }
    .family2>.child2>.images6{
        margin: 250px 0px 100px -260px; 
    }
    .family2>.child1>.learn>.learn_frome{
    margin: 30px 0px 0px 0px;
    font-size: 15px;
}
.family2>.child1>.learn>.home{
    margin: 5px 0px 0px -400px;
    font-size: 15px;
}
.family2>.child1>.learn>.with{
    margin: -35px 0px 0px 90px;
    font-size: 15px;
}
.family2>.child1>.learn>.the_best{
    margin: 5px 0px 0px 0px;
    font-size: 15px;
}
.family2>.child1>.learn>.online{
    margin: -35px 0px 0px 120px;
    font-size: 15px;
}
.family2>.child1>.learn>.Languange{
    margin: 5px 0px 0px 0px;
    font-size: 15px;
}
.family2>.child1>.learn>.tutors{
    margin: -35px 0px 0px 150px;
    font-size: 15px;
}
.family2>.child1>.lorem>.dolor>h6{
    margin: 25px 0px 0px 0px;
    font-size: 13px;
    color: #6C6C6C;
}
.family2>.child1>.lorem>.elit>h6{
    margin: 10px 0px 0px 0px;
    font-size: 13px;
    color: #6C6C6C;
}
.family2>.child1>.lorem>.mollis>h6{
    margin: -16px 0px 0px 90px;
    font-size: 13px;
    color: #6C6C6C;
}
.family2>.child1>.lorem>.nulla>h6{
    margin: 10px 0px 0px 0px;
    font-size: 13px;
    color: #6C6C6C;
}
.family2>.child2>.images1>img{
    margin: 470px 0px 0px -220px;
    width: 500%;
}
.family2>.child2>.images2>img{
    margin: 401px 0px 0px -220px;
    width: 500%;
}
.family2>.child2>.images3>img{
    margin: 410px 0px 0px -430px;
    width: 200%;
}
.family2>.child2>.images4{
    margin: 100px 0px 0px 30px;
    width: 40%;
}
.family2>.child2>.images5>img{
    margin: 170px 0px 0px 60px;
    width: 50%;
}
.family2>.child2>.images6{
    margin: -410px 0px 0px -200px;
    width: 39%;
}
/********RESPONSIVE********/
/********FAMILY_3********/
.family3>.child1>.what>p{
    font-size: 15px;
}
.family3>.child1>.what>h1{
    margin-top: 20px;
    font-size: 25px;
}
.family3>.child1>.what>.want>.images1{
    margin-top: -10px;
    margin-right: 100px;
    width: 50px;
}
.family3>.child1>.what>.want>.images2{
    margin-top: -15px;
    margin-right: 100px;
    width: 55px;
}
.family3>.child2>.lorem>.sit>h6{
    margin: 120px 0px 0px -432px;
    font-size: 15px;
    line-height: 28px;
    color: #6C6C6C;
}
.family3>.child2>.lorem>.nec>h6{
    margin: -5px 0px 0px -432px;
    font-size: 15px;
    line-height: 28px;
    color: #6C6C6C;
}
.family3>.child2>.lorem>.amet>h6{
    margin: -5px 0px 0px -432px;
    font-size: 15px;
    line-height: 28px;
    color: #6C6C6C;
}
.family3>.child2>.lorem>.ante>h6{
    margin: -5px 0px 0px -432px;
    font-size: 15px;
    line-height: 28px;
    color: #6C6C6C;
}
.family3>.child2>.images>.images1{
    margin: -76px 0px 0px -520px;
    width: 270px;
}
.family3>.child2>.images>.images5{
    margin: -5px 0px 0px -506px;
    width: 270px;
}
.family3>.child2>.images>.images6{
    margin: -5px 0px 0px -200px;
    width: 270px;
}
.family3>.child2>.images>.images7{
    margin: -5px 0px 0px -200px;
    width: 270px;
}
.family3>.child2>.images>.viev{
    margin: 116px 0px 0px -110px;
}
.family3>.child2>.images>.images8{
    margin: 110px 0px 0px 15px;
    width: 25px;
}
/********RESPONSIVE********/
/********FAMILY_4********/
.family4>.child1>.purchase>.your>h2{
    font-size: 48px;
    letter-spacing: 3.5%;
    line-height: 76px;
}
.family4>.child1>.purchase>.your>h2{
    margin: -20px 0px 0px 0px;
    font-size: 32px;
    letter-spacing: 3.5%;
    line-height: 76px;
}
.family4>.child1>.purchase>.awesome>h2{
    margin: -20px 0px 0px 0px;
    font-size: 32px;
    letter-spacing: 3.5%;
    line-height: 76px;
}
.family4>.child1>.purchase>.lessons>h2{
    margin: -76px 0px 0px 155px;
    font-size: 32px;
    letter-spacing: 3.5%;
    line-height: 76px;
}
.family4>.child1>.purchase>.find>h2{
    margin: -20px 0px 0px 0px;
    font-size: 32px;
    letter-spacing: 3.5%;
    line-height: 76px;
}
.family4>.child1>.ipsum>.lorem>h6{
    margin: 20px 0px 0px 0px;
    font-size: 14px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.elit>h6{
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.cras>h6{
    margin: -16px 0px 0px 135px;
    font-size: 14px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.libero>h6{
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.accumsan>h6{
    margin: -16px 0px 0px 205px;
    font-size: 14px;
    color: #6C6C6C;
}
.family4>.child1>.ipsum>.eget>h6{
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    color: #6C6C6C;
}
.family4>.child1>.btn>.btn_1{
    background: #FB9C46;
    border: none;
    border-radius: 16px;
}
.family4>.child1>.btn>.btn_1>p{
    padding: 0px 49px;
    font-size: 10px;
    color: #FFFFFF;
}
.family4>.child1>.btn>.btn_2{
    margin-left: 15px;
    background:#FFFFFF;
    border: 3px solid #FB9C46;
    border-radius: 16px;
}
.family4>.child1>.btn>.btn_2>p{
    padding: 0px 50px;
    font-size: 10px;
    color: #FB9C46;
}
.family4>.child2>.images{
    margin: 350px 0px 0px -390px;
    width: 450px;
}
/********RESPONSIVE********/
/********FAMILY_5********/
.family5>.child2>.what>h2{
    margin: -30px 0px 0px -366px;
    font-size: 30px; 
}
.family5>.child2>.get>h2{
    margin: -30px 0px 0px -485px;
    font-size: 30px; 
}
.family5>.child2>.icon>h2{
    margin: -30px 0px 0px -520px;
    font-size: 30px; 
}
.family5>.child2>.ispum>.dolor>h6{
    margin: 5px 0px 0px -320px;
    font-size: 13px;
    color: #6C6C6C;
}
.family5>.child2>.ispum>.elit>h6{
    margin: 10px 0px 0px -313px;
    font-size: 13px;
    color: #6C6C6C;
}
.family5>.child2>.ispum>.mollis>h6{
    margin: -16px 0px 0px -230px;
    font-size: 13px;
    color: #6C6C6C;
}
.family5>.child2>.ispum>.nulla>h6{
    margin: 10px 0px 0px -203px;
    font-size: 13px;
    color: #6C6C6C;
}
.family5>.child2>.images1{
    margin: -60px 0px 0px -490px;
    width: 457px;  
}
.family5>.child2>.images2{
    margin: -133px 0px 0px -390px;
    width: 257px;  
}
.family5>.child2>.images3{
    margin: -60px 0px 0px -490px;
    width: 457px;  
}
.family5>.child2>.images4{
    margin: -133px 0px 0px -390px;
    width: 257px;  
}
.family5>.child2>.images5{
    margin: -60px 0px 0px -490px;
    width: 457px;  
}
.family5>.child2>.images6{
    margin: -133px 0px 0px -390px;
    width: 257px;  
}
.family5>.child1>.images1{
    margin: 550px 0px 0px 0px;
    width: 287px;  
}
.family5>.child1>.images2{
    margin: -291px 0px 0px 0px;
    width: 287px;  
}
.family5>.child1>.images3{
    margin: -354px 0px 0px 32px;
    width: 324px;  
}
/********RESPONSIVE********/
/********FAMILY_6********/
.family6>.child1>.works_1>h2{
    margin: -114px 0px 0px 0px;
    font-size: 32px;
}
.family6>.child1>.works_2>h2{
    margin: 0px 0px 0px -102px;
    font-size: 32px;
}
.family6>.child1>.ipsum>.dolor>h6{
    margin: -30px 0px 0px 0px;
    font-size: 13px;
}
.family6>.child1>.ipsum>.elit>h6{
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}
.family6>.child1>.ipsum>.mollis>h6{
    margin: -16px 0px 0px 65px;
    font-size: 13px;
}
.family6>.child1>.ipsum>.nulla>h6{
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}
.family6>.child1>.ipsum>.accumsan>h6{
    margin: -16px 0px 0px 131px;
    font-size: 13px;
}
.family6>.child1>.ipsum>.eget>h6{
    margin: -16px 0px 0px 190px;
    font-size: 13px;
}
.family6>.child1>.images1>img{
    margin: 180px 0px 0px 50px;
    width: 550px;
}
.family6>.child1>.images2>img{
    margin: 340px 0px 0px 50px;
    width: 550px;
}
.family6>.child1>.images3>img{
    margin: 340px 0px 0px 50px;
    width: 550px;
}
.family6>.child2>.images1>img{
    margin: 160px 0px 0px -490px;
    width: 300px;
}
.family6>.child2>.images2>img{
    margin: 100px 0px 0px -580px;
    width: 40px;
}
.family6>.child2>.images3>img{
    margin: 30px 0px 0px -580px;
    width: 40px;
}
.family6>.child2>.images4>img{
    margin: -35px 0px 0px -650px;
    width: 200px;
}
/********RESPONSIVE********/
/********FAMILY_7********/
.family7>.d_flex>.child1>.edu>.smart>h2{
    margin: 220px 0px 0px 0px;
    font-size: 33px;
}
.family7>.d_flex>.child1>.edu>.about>h2{
    margin: -5px 0px 0px 0px;
    font-size: 33px;
}
.family7>.d_flex>.child1>.edu>.mastering>h2{
    margin: -57px 0px 0px 90px;
    font-size: 33px;
}
.family7>.d_flex>.child1>.edu>.skill>h2{
    margin: -5px 0px 0px 0px;
    font-size: 33px;
}
.family7>.d_flex>.child1>.from>.new>h6{
    margin: -5px 0px 0px 0px;
    font-size: 10px;  
}
.family7>.d_flex>.child1>.from>.people>h6{
    margin: -5px 0px 0px 0px;
    font-size: 10px;  
}
.family7>.d_flex>.child1>.from>.the>h6{
    margin: -26px 0px 0px 105px;
    font-size: 10px;  
}
.family7>.d_flex>.child2>.images1>img{
    margin: 520px 0px 0px -300px;
    width: 30px;
}
.family7>.d_flex>.child2>.images2>img{
    margin: 5px 0px 0px -310px;
    width: 100px;
}
.family7>.d_flex>.child2>.can>.for>h6{
    margin: 10px 0px 0px -320px;
    font-size: 14px;
}
.family7>.d_flex>.child2>.can>.you>h6{
    margin: 5px 0px 0px -320px;
    font-size: 14px;
}
.family7>.d_flex>.child2>.can>.itis>h6{
    margin: -16px 0px 0px -222px;
    font-size: 14px;
}
.family7>.d_flex>.child2>.can>.us>h6{
    margin: 5px 0px 0px -320px;
    font-size: 14px;
}
.family7>.d_flex>.child2>.can>.with>h6{
    margin: -16px 0px 0px -97px;
    font-size: 14px;
}
.family7>.d_flex>.child2>.can>.our>h6{
    margin: 5px 0px 0px -320px;
    font-size: 14px;
}
.family7>.d_flex>.child2>.img_text>.images3>img{
    margin: 0px 0px 0px -320px;
    width: 50px;
}
.family7>.d_flex>.child2>.img_text>.hart1>h4{
    margin: 25px 0px 0px -260px;
    font-size: 16px;
}
.family7>.d_flex>.child2>.img_text>.hart1>h6{
    margin: 5px 0px 0px -260px;
    font-size: 10px;
}
.family7>.d_flex>.child2>.img_text>.images4>img{
    margin: 32px 0px 0px -80px;
    width: 100px;
}
.family7>.d_flex>.child2>.img_radius{
    margin: 5px 0px 0px -318px;
}
.family7>.images10{
   display: none;
}
/********RESPONSIVE********/
/********FAMILY_8********/
.family8_container>.family8{
    display: block;
}
.family8>.images1>img{
    margin: 80px 0px 0px 0px;
    width: 390px;
}
.family8>.learn>h1{
    margin: -425px 0px 0px 30px;
    color: #FFFFFF;
}
.family8>.just>h1{
    margin: 5px 0px 0px 30px;
    color: #FFFFFF;
}
.family8>.images2>img{
    margin: -40px 0px 0px 250px;
    width: 40px;
}
.family8>.over>h6{
    margin: 5px 0px 0px 30px;
    color: #FFFFFF;
}
.family8>.images3>img{
    margin: 20px 0px 0px 30px;
    width: 300px;
}
.family8>.images4>img{
    margin: -10px 0px 0px 8px;
}
.family8_container>.family9{
    display: none;
}
.family8_container>.family10{
    display: block;
}
/********RESPONSIVE********/
/********FAMILY_10********/
.family10>.images1>img{
    margin: 70px 0px 0px 0px;
    width: 390px;
}
.family10>.tutorify>p{
    margin: -530px 0px 0px 30px;
    font-size: 30px;
    color: #FFFFFF;
}
.family10>.learn>h6{
    margin: 20px 0px 0px 30px;
    font-size: 15px;
    color: #FFFFFF;
}
.family10>.icons{
    display: flex;
    margin-left: 30px;
}
.family10>.images2>img{
    margin: 15px 0px 0px 0px;
    width: 390px;
}
.family10>.tex_icon{
    display: flex;
}
.family10>.tex_icon>.tex1>h5{
    margin: 20px 220px 0px 30px;
    font-size: 15px;
    color: #FFFFFF;
}
.family10>.tex_icon>.tex2>h5{
    margin: 20px 245px 0px 30px;
    font-size: 15px;
    color: #FFFFFF;
}
.family10>.tex_icon>.tex3>h5{
    margin: 20px 233px 0px 30px;
    font-size: 15px;
    color: #FFFFFF;
}
.family10>.tex_icon>.tex4>h5{
    margin: 20px 262px 0px 30px;
    font-size: 15px;
    color: #FFFFFF;
}
.family10>.tex_icon>.icon>img{
    margin-top: 30px;
}
.family10>.the_end>h5{
    margin: 50px 0px 0px 50px;
    font-size: 18px;
    color: #FFFFFF;
}
}
















